d3rlpy==2.7.0
joblib==1.2.0
matplotlib==3.6.0
miceforest==6.0.3
numpy==1.23.2
pandas==1.5.3
psycopg2==2.9.10
psycopg2_binary==2.9.6
scikit_learn==1.6.0
scipy==1.9.1
seaborn==0.13.2
shap==0.46.0
simple_icd_10==2.0.1
tabulate==0.8.10
torch==2.3.1
torchinfo==1.8.0
tqdm==4.64.0
xgboost==2.1.3
